In [33]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import sklearn.ensemble
import pickle

# Titanic Data

In [19]:
titanic_train = pd.read_csv("titanic/train.csv", sep=",", index_col=0)
titanic_train = titanic_train.drop(["Name", "Ticket", "Cabin"], axis = 1)
titanic_train = titanic_train.dropna()
titanic_train.head()

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S

In [20]:
titanic_train.to_csv("titanic_bd.csv")

In [21]:
data = titanic_train.values
data

array([[0, 3, 'male', ..., 0, 7.25, 'S'],
       [1, 1, 'female', ..., 0, 71.2833, 'C'],
       [1, 3, 'female', ..., 0, 7.925, 'S'],
       ...,
       [1, 1, 'female', ..., 0, 30.0, 'S'],
       [1, 1, 'male', ..., 0, 30.0, 'C'],
       [0, 3, 'male', ..., 0, 7.75, 'Q']], dtype=object)

In [22]:
labels = data[:,0]
le= sklearn.preprocessing.LabelEncoder()
le.fit(labels)
labels = le.transform(labels)
class_names = le.classes_
data = data[:,1:]

In [23]:
# data[:,1]

In [24]:
categorical_features = [0, 1 ,6]

In [25]:
feature_names = titanic_train.columns[1::]
feature_names

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [26]:
categorical_names = {}
for feature in categorical_features:
    le = sklearn.preprocessing.LabelEncoder()
    le.fit(data[:, feature])
    data[:, feature] = le.transform(data[:, feature])
    categorical_names[feature] = le.classes_

In [27]:
data = data.astype(float)

In [28]:
train = data
labels_train = labels

In [32]:
train

array([[ 2.    ,  1.    , 22.    , ...,  0.    ,  7.25  ,  2.    ],
       [ 0.    ,  0.    , 38.    , ...,  0.    , 71.2833,  0.    ],
       [ 2.    ,  0.    , 26.    , ...,  0.    ,  7.925 ,  2.    ],
       ...,
       [ 0.    ,  0.    , 19.    , ...,  0.    , 30.    ,  2.    ],
       [ 0.    ,  1.    , 26.    , ...,  0.    , 30.    ,  0.    ],
       [ 2.    ,  1.    , 32.    , ...,  0.    ,  7.75  ,  1.    ]])

In [29]:
encoder = sklearn.preprocessing.OneHotEncoder(categorical_features=categorical_features)
encoder.fit(data)
encoded_train = encoder.transform(train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [13]:
rf = sklearn.ensemble.RandomForestClassifier(n_estimators=500, random_state=123)
rf.fit(encoded_train, labels_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

In [17]:
# save the classifier
with open("rf_classifier.pkl", "wb") as fid:
    pickle.dump(rf, fid)